@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



.pendingCourses::-webkit-scrollbar {
   /* width: 10px; /* Mostly for vertical scrollbars */
    height: 5px; /* Mostly for horizontal scrollbars */
  }
  .pendingCourses::-webkit-scrollbar-thumb { /* Foreground */
    background: rgb(79 70 229);
    border-radius: 8px;
  }
  .pendingCourses::-webkit-scrollbar-track { /* Background */
    background: #eeeeee7e;
  }

  @media screen and (max-width:780px) {
    .pendingCourses{
        width: 92% !important;
    }
    .courseList{
        width: 100% !important;
    }
    .searchBar{
        width: 80% !important;
    }
  }